<div class="block">
    <div class="flex-row grow ">
        <div class="flex-row ">
            {{> admin/_header}}
        </div>
        <div class="flex flex-row gap-10">
            <div>
                {{> admin/_views}}
            </div>
            <div>
                {{> admin/_timeTable}}
            </div>
        </div>
        <div class="flex flex-row justify-evenly">
            {{> admin/_pagination}}
        </div>
    </div>
</div>