<div class="block">
    <div class="flex-row grow ">
        <div class="flex-row ">
            {{> admin/_header}}
        </div>
        <div class="flex flex-row gap-10 ">
            <div>
                {{> admin/_views}}
            </div>
            <div>
                {{> admin/_timeTable}}
            </div>
        </div>
        <div class="flex flex-row justify-evenly">
            {{> admin/_pagination}}
        </div>
    </div>
</div>
<div class="ml-5">
    <ul>
        {{#each yearlyTimeEntries}}
            <div class="ml-5">
                {{date this.[0].[0].timeEntries.[0].date 'YYYY'}}
                {{#each this}}
                    <div class="ml-5">
                        {{#if this.[0].week}}
                        <li> week: {{this.[0].week}}
                            <ul>
                                {{#each this}}
                                    <div class="ml-5">
                                        <li class="">{{date timeEntries.[0].date 'MM_DD-YYYY'}}</li>
                                    </div>
                                {{/each}}
                            </ul>
                    </div>
                    </li>{{/if}}
                {{/each}}
            </div>
    </ul>
    {{/each}}
</div>