<div class="flex justify-around items-center max-w-screen">
    <div class="flex flex-col px-4 justify-around items-center">
        <span display_value="0" class="text-6xl md:text-8xl" id="punchCounter">0</span>
        <span class="text-xl md:text-2xl ">Punches</span>
    </div>
    <img class='md:hidden max-h-28' src="/img/timekeeper-logo-sm.webp">
    <img class='hidden md:inline-flex max-h-screen' src="/img/timekeeper-logo-lg.webp">
    <div class="flex flex-col px-4 justify-around items-center ">
        <div class="px-2 text-3xl md:text-7xl" id="hoursCountWrapper">
            <span id="hoursCounter">0</span>/<span id="overtimeCounter">0</span>
        </div>
        <span class="hoursCountLabelWrapper mt-5 text-xl md:text-2xl">Reg / OT</span>
    </div>
</div>