@tailwind base;
@tailwind components;
@tailwind utilities;


footer.tk-footer {
    @apply flex flex-wrap items-center justify-evenly overflow-hidden m-4 p-10 relative z-10;
  }
  /* This is for the Twitter - Youtube - Facebook Icons in the footer */
  svg.fill-current {
    @apply inline-block;
  }
.text-stroke-black {
  font-family: sans-serif;
  color: base;
  text-shadow:
    1.5px 1.5px 0 #000,
    -1.5px -1.5px 0 #000,
    1.5px -1.5px 0 #000,
    -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
}
/* -----------------TABLE------------------ */
table.table {
  @apply flex-auto;
  @apply table-auto;
  @apply lg:w-5/6;
  @apply text-gray-100;
  @apply rounded-box;
  @apply shadow;
  @apply overflow-hidden;
  @apply mb-4;
  @apply m-5;
}
th {
  @apply text-base-content;
  @apply font-bold;
  @apply uppercase;
  @apply p-2;
  @apply bg-stone-700;
}
tr {
  @apply table-row;
  @apply text-base-content;
  @apply p-2;
  @apply border-b;
  @apply border-base-300;
  @apply hover:bg-zinc-600;
  @apply text-center;
  @apply bg-opacity-5;
}
td {
  @apply text-sm;
  @apply p-2;
  @apply border-b;
  @apply border-base-300;
  @apply text-center;
}
/* -----------------END TABLE------------------ */