<input type="checkbox" id="forgot-password-modal" class="modal-toggle" />
    <div class="modal" role="dialog">
        <div class="modal-box">
            <h3 class="text-lg font-bold">Reset Password: </h3>
             <p class="py-4">Enter your email and we'll email you a link to reset your password:</p>
            <form id="delete-timecard-form" action="/auth/forgotPassword" method="POST">
            <input type="email" name="email" id="resetPwEmail" placeholder="Email" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" required>
                <button class="btn btn-accent text-white">Submit</button>
            <label class="btn btn-error" for="forgot-password-modal">Cancel</label>
            </form>
        </div>
        <label class="modal-backdrop" for="forgot-password-modal">Close</label>
    </div>