<div class="flex flex-wrap">
{{#each roster }}
<div class="flex-row items-center justify-between h-12 px-3 font-semibold text-black">
    <a href="/admin/roster?empName={{encodeURI this}}">{{this}}</a>
    </div>
{{/each}}
</div>
{{@root}}