<div class="container p-3 ml-5 -mt-5 bg-base-100 border-white rounded-lg border-solid w-44">
    <ul class="">
        <li><u>Views</u>:</li>
        <li><a href="/admin?view=weekly&p={{pagination.page}}">By Week</a></li>
        <li>Employee Roster</li>
        <li>Entries With Overtime</li>
    </ul>
</div>