    <div class="container p-3 ml-5  bg-base-100 border-white border-2 rounded-lg  w-1/6">
        <ul class="list">
            <li><u>Views</u>:</li>
            <li><a href="/admin/">By Week</a></li>
            <li><a href="/admin/roster">Employee Roster</a></li>
            <li>Entries&nbsp;With&nbsp;Overtime</li>
        </ul>
    </div>