{{#each yearlyTimeEntries}}
    Date: {{date this.[0].timeEntries.[0].date 'YYYY'}}
    {{#each this as | week |}}
        {{#if this.entries}}
            <div class="flex flex-col ">
                <button class="group/week border-t border-r border-l border-black focus:outline-none">
                    <div class="flex items-center justify-between h-12 px-3 font-semibold">
                        Week: {{this.week}}
                        <div class="flex-none max-h-0 overflow-hidden duration-300 group-focus/week:max-h-40">
                            <div class="flex flex-col ">
                                <button class="group border-t border-r border-l border-black focus:outline-none">
                                    <div class="flex items-center justify-between h-12 px-3 font-bold">
                                        <span class="truncate">Date Submitted</span>
                                        <span class="truncate">Employee Name</span>
                                        <span class="truncate">Hours</span>
                                        <span class="truncate">Overtime</span>
                                    </div>
                                </button>
                            </div>
                            {{#each entries as | timeEntries |}}
                                {{> admin/_timeTable}}
                            {{/each}}
                        </div>
                    </div>
                </button>
            </div>
        {{/if}}
    {{/each}}
{{/each}}